.sec1{
    width: 100%;
    height: 400px;
}
.head{
    font-family: Gilroy;
    font-weight: 700;
    font-size: 36px;
    margin-top: 90px;
}
.para{
    font-family: Gilroy;
    font-weight: 400;
    font-size: 19px;
    width: 670px;
    line-height: 30px;
    letter-spacing: -0.2px;
    margin-left: 190px;
    margin-top: 20px;
}